<div class="container">
  <h1> To do list </h1>

  <table id="task-list">
    <% @tasks.each do |t| %>
      <tr>
        <td  class="links">
          <%= link_to '<i class="fa fa-check green-link"></i>'.html_safe, done_task_path(t), method: 'post' %>
          <%= link_to '<i class="fa fa-trash-o red-link"></i>'.html_safe, t, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td> <%= t.description %> </td>
        <td> <%= t.start %> </td>
      </tr>
    <% end %> 
  </table>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom  task-form" role="navigation">
  <div class="container">
    <%= form_for Task.new do |f| %>
      <%= f.text_field :description, placeholder: "Type your task", style: "width: 70%" %>
      <%= f.text_field :start, placeholder: "Pick a date" %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>

<script type="text/javascript">
  $("#task_start").datepicker({dateFormat: "dd/mm/yy"});
</script>